/* Base styles */

:root {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

body {
  background: url("../img/background-md.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body,
p,
.board,
.board-title,
.cards,
.card,
.btn {
  margin: 0;
}

:focus {
  outline: 0;
  border: 0.1rem solid #c9d2d9;
}

/* Grid styles */

.wall {
  display: grid;
  grid-auto-columns: 27.2rem;
  grid-auto-flow: column;
  grid-column-gap: 1.2rem;
}

.board {
  display: grid;
  grid-template-rows: auto minmax(auto, 1fr) auto;
}

.cards {
  list-style-type: none;
  display: grid;
  grid-row-gap: 0.8rem;
  grid-auto-columns: 24.8rem;
}

/* Wall styles */

.wall::-webkit-scrollbar {
  background: transparent;
  height: 0px;
}

.wall {
  padding: 2rem;
  padding-top: 2.1rem;
  align-items: start;
  overflow-x: auto;
  height: calc(100vh - 4.1rem);
}

/* Board styles */

.board {
  padding: 0rem;
  background-color: #e2e4e6;
  max-height: calc(100vh - 4.1rem);
  background: #dfe3e6;
  border-radius: 0.3rem;
}

.board:focus {
  border: 0;
  box-shadow: 0.3rem 0.4rem 0.6rem black;
}

.board:last-of-type {
  margin-right: 0;
}

.board-title {
  padding: 1.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
}

/* Cards styles */

.cards {
  cursor: pointer;
  padding: 1.2rem;
  height: calc(100% - 5rem);
  padding-bottom: 0rem;
  flex-direction: column;
  align-content: start;
  overflow-y: scroll;
}

.cards::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

.last-card {
  margin-bottom: 0.3rem;
}

/* Card styles */

.card {
  display: block;
  font-weight: normal;
  font-size: 1.3rem;
  background: #ffffff;
  padding: 0.8rem 1.2rem;
  padding-bottom: 0.8rem 1.2rem;
  box-shadow: 0 0.1rem 0.4rem rgba(9, 45, 66, 0.25);
  border-radius: 0.3rem;
  word-wrap: break-word;
  line-height: 1.9rem;
}

.card:focus {
  border: 0;
  box-shadow: 0 0.1rem 0.3rem black;
}

.card:last-of-type {
  margin-bottom: 0;
}

.title-textarea {
  resize: none;
  width: inherit;
  border: 0;
  padding: 0;
  line-height: 1.9rem;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.title-textarea:focus {
  outline: 0;
  border: 0;
}

.title-textarea ::-webkit-input-placeholder {
  color: #b8b9bb;
}

/* Add sections styles */

.add-section-insides,
.add-section-facade {
  display: flex;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  padding-bottom: 1.2rem;
}

.cvg-ico:hover {
  cursor: pointer;
}

.add-section-facade {
  padding: 1.2rem;
}

.add-section-facade:hover {
  cursor: pointer;
}

.add-section-insides {
  justify-content: space-between;
}

.add-section-facade-text {
  padding-left: 0.8rem;
  color: #6b808c;
  line-height: 1.9rem;
  pointer-events: none;
}

/* Add sections' children styles */

.add-btn {
  font-weight: 700;
  background: #39c071;
  color: #eee;
  height: 3rem;
  padding: 0.8rem;
  border-radius: 3px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}

.add-btn:hover {
  background: rgb(56, 177, 106);
}

.add-btn:active {
  background: rgb(48, 172, 99);
}

.add-btn:focus {
  border: 0.1rem solid green;
  padding-top: 0.7rem;
  padding-left: 0.7rem;
}

.empty-slot {
  color: transparent;
  background: #c9d2d9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
}

.over {
  border-top: 0.2rem solid #c9d2d9;
}

.ghost {
  opacity: 1;
  width: 22.4rem;
  background: white;
  position: absolute;
  top: -1000px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
